@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 2;
    font-family: 'Merriweather', serif;
}

h1{
   margin:10px auto 20px auto;
    font-size: 5.65rem;
    color: #66BFBF;
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Great Vibes', cursive;
}
.top_container h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    margin-top: -50px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 1.3rem;
}
p{
    line-height: 2;
}
hr{
    border: dotted #15a1a1 6px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
a:hover {
    color: #EAF6F6;
  }
  
.hr2{
    margin-left: 50%;
    margin-top: 200px;
}
.top_container{
    background-color: #E4F9F5;
    color: #40514E;
}
.middle_container{
    background-color: #40514E;
}
.bottom_containter{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    margin-top: 100px;
}
.top_cloud{
  margin-top: 50px;
  margin-left: 800px;
}
.bottom_cloud{
    position: absolute;
   left: 300px;
   bottom:280px;
}
.profile{
    width: 12%;
    padding-top: 100px;
}
.code-image{
    width: 30%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.ice-cream{
    width: 30%;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
}
.intro {
    width: 30%;
    margin: 30px auto 100px auto;
  }
.skill_row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.code-row{
    margin-bottom: 200px;
}
.get_in_touch{
    width: 40%;
    margin: auto;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
.btn {
  
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  